.signup-container {
    width: 450px; /* Explicitly set width */
    max-width: 450px; /* Ensure the container does not shrink below this width */
    margin: 100px auto; /* Center the container */
    padding: 20px;
    background: url('../assets/image11.jpg') no-repeat center center;
    background-size: cover; /* Ensure the image covers the container */
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn’t affect the width */
}

.textcolor{
    color: black;
}

.continue-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ae60ac; /* Darker shade for hover */
}

.login-prompt {
    text-align: center;
    margin-top: 10px;
}
.login-prompt p {
    color: black;
}

.login-prompt a {
    color: #007bff;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}

.social-signup {
    text-align: center;
    margin-top: 20px;
    padding-left: 5%;
}

.social-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    
    background-color: #f0f0f0; /* Light gray for social buttons */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #e0e0e0; /* Darker gray on hover */
}
